@font-face {
    font-family: 'Synonym';
    src: url('./assets/fonts/Synonym-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Amulya';
    src: url('./assets/fonts/Amulya-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }